<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/admin_layout :: head"></head>
<body th:replace="admin/admin_layout :: layout(~{::content})">

<div th:fragment="content">

  <h2 th:text="${post.id == null ? 'Create post' : 'Edit post'}"></h2>

  <form th:action="@{/admin/posts}" method="post" th:object="${post}">
    <input type="hidden" th:if="${post.id}" th:field="*{id}"/>

    <div class="mb-3">
      <label>Title</label>
      <input class="form-control" th:field="*{title}">
    </div>

    <div class="mb-3">
      <label>Content</label>
      <textarea class="form-control" rows="8" th:field="*{content}"></textarea>
    </div>

    <button class="btn btn-primary">Save</button>
  </form>

</div>

</body>
</html>
