<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/header :: content">
<div>
  <div class="d-flex justify-content-between">
    <h2>Admin - Posts</h2>
    <a class="btn btn-success" th:href="@{/admin/posts/new}">Create Post</a>
  </div>
  <div class="list-group mt-3">
    <div th:each="p : ${posts}" class="list-group-item">
      <div class="d-flex justify-content-between">
        <div>
          <h5 th:text="${p.title}">Title</h5>
          <p><small th:text="${#dates.format(p.createdAt,'yyyy-MM-dd HH:mm')}"></small></p>
        </div>
        <div>
          <a class="btn btn-sm btn-warning" th:href="@{|/admin/posts/edit/${p.id}|}">Edit</a>
          <form th:action="@{|/admin/posts/${p.id}/delete|}" method="post" style="display:inline">
            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
